src/main/resources/wadl/webhdfs.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 1.9 09/02/2011 11:17 AM"/>
    <grammars/>
    <resources base="http://localhost:50268/webhdfs/v1/">
        <resource path="">
            <method id="putRoot" name="PUT">
                <request>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="delegation" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="user.name" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="doas" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="op" style="query" type="xs:string" default="null"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="destination" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="owner" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="group" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="permission" style="query" type="xs:string" default="null"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="overwrite" style="query" type="xs:string" default="false"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="buffersize" style="query" type="xs:string" default="null"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="replication" style="query" type="xs:string" default="null"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="blocksize" style="query" type="xs:string" default="null"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="modificationtime" style="query" type="xs:string" default="-1"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="accesstime" style="query" type="xs:string" default="-1"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="renameoptions" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="createparent" style="query" type="xs:string" default="false"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="token" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="aclspec" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="xattr.name" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="xattr.value" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="flag" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="snapshotname" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="oldsnapshotname" style="query" type="xs:string" default=""/>
                </request>
                <response>
                    <representation mediaType="application/octet-stream"/>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <method id="postRoot" name="POST">
                <request>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="delegation" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="user.name" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="doas" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="op" style="query" type="xs:string" default="null"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="sources" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="buffersize" style="query" type="xs:string" default="null"/>
                </request>
                <response>
                    <representation mediaType="application/octet-stream"/>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <method id="deleteRoot" name="DELETE">
                <request>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="delegation" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="user.name" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="doas" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="op" style="query" type="xs:string" default="null"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="recursive" style="query" type="xs:string" default="false"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="snapshotname" style="query" type="xs:string" default=""/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <method id="getRoot" name="GET">
                <request>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="delegation" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="user.name" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="doas" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="op" style="query" type="xs:string" default="null"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="offset" style="query" type="xs:string" default="0"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="length" style="query" type="xs:string" default="null"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="renewer" style="query" type="xs:string" default="null"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="buffersize" style="query" type="xs:string" default="null"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="xattr.name" style="query" type="xs:string" default=""/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="encoding" style="query" type="xs:string" default=""/>
                </request>
                <response>
                    <representation mediaType="application/octet-stream"/>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="{path:.*}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="path" style="template" type="xs:string"/>
                <method id="get" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="delegation" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="user.name" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="doas" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="op" style="query" type="xs:string" default="null"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="offset" style="query" type="xs:string" default="0"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="length" style="query" type="xs:string" default="null"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="renewer" style="query" type="xs:string" default="null"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="buffersize" style="query" type="xs:string" default="null"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="xattr.name" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="encoding" style="query" type="xs:string" default=""/>
                    </request>
                    <response>
                        <representation mediaType="application/octet-stream"/>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="put" name="PUT">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="delegation" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="user.name" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="doas" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="op" style="query" type="xs:string" default="null"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="destination" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="owner" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="group" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="permission" style="query" type="xs:string" default="null"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="overwrite" style="query" type="xs:string" default="false"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="buffersize" style="query" type="xs:string" default="null"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="replication" style="query" type="xs:string" default="null"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="blocksize" style="query" type="xs:string" default="null"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="modificationtime" style="query" type="xs:string" default="-1"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="accesstime" style="query" type="xs:string" default="-1"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="renameoptions" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="createparent" style="query" type="xs:string" default="false"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="token" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="aclspec" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="xattr.name" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="xattr.value" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="flag" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="snapshotname" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="oldsnapshotname" style="query" type="xs:string" default=""/>
                    </request>
                    <response>
                        <representation mediaType="application/octet-stream"/>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="delete" name="DELETE">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="delegation" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="user.name" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="doas" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="op" style="query" type="xs:string" default="null"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="recursive" style="query" type="xs:string" default="false"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="snapshotname" style="query" type="xs:string" default=""/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="post" name="POST">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="delegation" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="user.name" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="doas" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="op" style="query" type="xs:string" default="null"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="sources" style="query" type="xs:string" default=""/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="buffersize" style="query" type="xs:string" default="null"/>
                    </request>
                    <response>
                        <representation mediaType="application/octet-stream"/>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>
